PORT=3000

DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/filmvisarna

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=filmvisarna
DB_SSL=false
